<ul class="piano">
    <li class="key">
      <span class="base-key white-key" data-key="1"></span>
      <span class="base-key black-key" data-key="2"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="3"></span>
      <span class="base-key black-key" data-key="4"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="5"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="6"></span>
      <span class="base-key black-key" data-key="7"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="8"></span>
      <span class="base-key black-key" data-key="9"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="10"></span>
      <span class="base-key black-key" data-key="11"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="12"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="13"></span>
      <span class="base-key black-key" data-key="14"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="15"></span>
      <span class="base-key black-key" data-key="16"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="17"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="18"></span>
      <span class="base-key black-key" data-key="19"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="20"></span>
      <span class="base-key black-key" data-key="21"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="22"></span>
      <span class="base-key black-key" data-key="23"></span>
    </li>
    <li class="key">
      <span class="base-key white-key" data-key="24"></span>
    </li>
  </ul>